# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Include ~/.colima/ssh_config

{{- if eq .chezmoi.os "darwin" }}
{{- if and (ne (lookPath "op") "") (exec "op" "whoami") }}
Host *
	IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
	ForwardAgent yes
{{- end }}
{{- end }}
