[tools]
# runtimes
go = "latest"
node = "latest"
python = "latest"
rust = "latest"

# tooling
prek = "latest"
uv = "latest"

# formatters
biome = "latest" # formatter + linter
dprint = "latest"
ruff = "latest" # formatter + linter
shfmt = "latest"
taplo = "latest" # formatter + linter
"cargo:stylua" = "latest"
"npm:prettier" = "latest"
"pipx:sqlfluff" = "latest" # formatter + linter

# linters
golangci-lint = "latest"
hadolint = "latest"
markdownlint-cli2 = "latest"
shellcheck = "latest"
"cargo:selene" = "latest"
"pipx:yamllint" = "latest"

[settings]
python.uv_venv_auto = "create|source"
